<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="Cnx" connectionString="metadata=res://*/Entidades.Datos.csdl|res://*/Entidades.Datos.ssdl|res://*/Entidades.Datos.msl;provider=System.Data.SqlClient;provider connection string='data source=DIANA-PC;initial catalog=&quot;Ventanilla Unica&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="Cnsp" connectionString="Data Source=DIANA-PC; Initial Catalog= Ventanilla Unica; Integrated Security= True "/>
    <add name="Ventanilla UnicaConnectionString" connectionString="Data Source=DIANA-PC;Initial Catalog=&quot;Ventanilla Unica&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Ventanilla UnicaConnectionString2" connectionString="Data Source=DIANA-PC;Initial Catalog=&quot;Ventanilla Unica&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Ventanilla UnicaConnectionString3" connectionString="Data Source=DIANA-PC;Initial Catalog=&quot;Ventanilla Unica&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
</configuration>